@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Roboto Mono');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 50%;
}

body {
    background-color: azure;
    background-image: url("/images/people-counting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    max-width: 400px;
    min-width: 200px;
    margin: 0 0 0 -60px;
}

h1 {
    color: rgb(16, 16, 88);
    font-family: raleway, sans-serif;
    background-color: rgba(169, 169, 169, 0.6);
    padding: 10px 5px;
    margin-left: 25%;
    margin-top: 5px;
    border-radius: 6px;
    border: rgb(16, 16, 88) solid 1px;
}

p.count,
p.total {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(16, 16, 88);
    border: 1px solid rgb(16, 16, 88);
    display: inline-block;
    color: white;
    border-radius: 8px;
}

p.total {
    width: 75px;
}

p.count {
  width: 75px;
  margin-top: 10px;
  margin-left: 78px;
  margin-right: 17px;

}

h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.5rem;
    margin-left: 154px;
    margin-top: 15px;
    margin-bottom: 20px;
}

h2#count-num {
    background-color: white;
    width: 75px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgb(187, 187, 187);
}

h2#total-num {
  background-color: white;
  width: 75px;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgb(187, 187, 187);
  margin-top: -73px;
  margin-left: 250px;
}

button#increment-btn {
  background-color: rgba(255, 255, 255, 0.603);
  box-shadow: 0px 0px 2px 2px white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    margin: 0 10px 30px -30px;
    touch-action: manipulation;
  }

.arrow-up {
    border: solid rgb(33, 153, 9);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
  }


button#decrement-btn {
  background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0px 0px 2px 2px white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    margin: 0 0 30px 63px;
    touch-action: manipulation;
  }

.arrow-down {
    border: solid rgb(153, 14, 9);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    margin-top: -5px;
  }

  span.total {
    position: relative;
    top: 80px;
    left: 24px;
  }

  button#total-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    background-color: rgb(255, 192, 18);
    border: none;
    font-weight: bold;
    color: rgb(16, 16, 88);
    box-shadow: 0 0 2px 2px rgba(255, 192, 18, 0.651);
    touch-action: manipulation;
  }

  span.reset {
    position: relative;
    top: 80px;
    right: -43px;
  }
  
  button#reset-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    background-color: rgb(18, 148, 255);
    border: none;
    font-weight: bold;
    color: rgb(16, 16, 88);
    box-shadow: 0 0 2px 2px rgba(18, 148, 255, 0.603);
    touch-action: manipulation;
  }
